<div class="container">
  <div class="card" style="margin-top:10px;">
    <div class="card-header">
      <h4>
        Alterar minha senha
      </h4>
    </div>
    <form validate>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="oldPassword">Senha antiga</label
              ><input
                class="form-control"
                id="oldPassword"
                placeholder="Digite sua senha antiga"
                required
                type="password"
                name="oldPassword"
                [(ngModel)]="oldPassword"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="newPassword">Nova senha</label
              ><input
                class="form-control"
                id="newPassword"
                placeholder="Digite sua nova senha"
                required
                type="password"
                name="newPassword"
                [(ngModel)]="newPassword"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="passwordConfirm">Confirme sua nova senha</label
              ><input
                class="form-control"
                id="passwordConfirm"
                placeholder="Confirme sua nova senha"
                required
                type="password"
                name="passwordConfirm"
                [(ngModel)]="passwordConfirm"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group form-actions">
              <button
                class="btn btn-sm btn-primary btn-easy"
                type="submit"
                (click)="changePassword()"
                [ngClass]="{ spinner: loading }"
              >
                Alterar senha
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
