/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/assets/fonts/Gilroy-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: Gilroy-Light;
  src: url(/assets/fonts/Gilroy-Light.otf) format("opentype");
}

body {
  font-family: "Gilroy-Light" !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: #161e53 !important;
}

.gilroy-bold {
  font-family: "Gilroy-ExtraBold" !important;
}

.sidebar .nav-link:hover {
  background: #ff591f !important;
  color: #fff;
}

.appointmenttabs {
  width: 50%;
}

.appointmenttabstext {
  text-align: center;
}

.modal-backdrop.show {
  opacity: 0.5 !important;
}

.gridItem {
  padding: 5px;
  cursor: pointer;
}
.gridItem:hover {
  background-color: #161e53;
  color: #ff591f !important;
  padding: 5px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
  margin-left: 10px;
}

.btn-easy {
  background-color: #161e53 !important;
}

.toast-header {
  background-color: transparent !important;
  color: white !important;
}

.cal-month-view .cal-day-badge {
  background-color: #161e53 !important;
}

.back-warning {
  padding: 3px;
  background-color: #f0ad4e;
}

.back-canceled {
  padding: 3px;
  background-color: #d9534f;
}

.back-confirmed {
  padding: 3px;
  background-color: #5cb85c;
}

.back-concluded {
  padding: 3px;
  background-color: #0275d8;
}
