<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-12">Filtros</div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <label for="status">Data inicial agendamento</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="initialDate"
              [(ngModel)]="filter.initialDate"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              >
                <i class="cui-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="status">Data final agendamento</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="finalDate"
              [(ngModel)]="filter.finalDate"
              ngbDatepicker
              #dfinal="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="dfinal.toggle()"
                type="button"
              >
                <i class="cui-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="soccerPicht">Quadra</label>
          <div class="input-group">
            <select
              id="soccerPicht"
              class="form-control"
              name="soccerPichtId"
              [(ngModel)]="filter.soccerPitchId"
            >
              <option value="0" selected>Selecione</option>
              <option *ngFor="let sp of soccerPitchs" [ngValue]="sp.id">
                {{ sp.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="soccerPichtPlanId">Plano</label>
          <div class="input-group">
            <select
              id="soccerPichtPlanId"
              [(ngModel)]="filter.soccerPitchPlanId"
              class="form-control"
              name="soccerPichtPlanId"
            >
              <option value="0" selected>Selecione</option>
              <option *ngFor="let sp of soccerPitchsPlans" [ngValue]="sp.id">
                {{ sp.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="soccerPichtPlanId">Responsável</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="filter.userName"
              id="userName"
              name="userName"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary btnLogin"
            [ngClass]="{ spinner: loading }"
            [disabled]="loading"
            (click)="getReservations()"
            style="float: right; margin-bottom: 5px; margin-top: 10px"
          >
            Filtrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="margin-top: 10px">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <h4>Horários</h4>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openModal(null)"
            value="Click Me"
            style="float: right; margin-bottom: 5px"
          >
            Adicionar novo agendamento
          </button>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="backg-gray">Responsável</th>
            <th scope="col" class="backg-gray">Quadra</th>
            <th scope="col" class="backg-gray">Data selecionada</th>
            <th scope="col" class="backg-gray">Horário</th>
            <th scope="col" class="backg-gray">#</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let soccerPitchReservation of soccerPitchReservations;
              index as i
            "
          >
            <td>
              {{ soccerPitchReservation.userName }}
            </td>
            <td>{{ soccerPitchReservation.soccerPitchName }}</td>
            <td>
              {{ soccerPitchReservation.selectedDate | date: "dd/MM/yyyy" }}
            </td>
            <td>
              {{ soccerPitchReservation.selectedHourStart.hour }} :
              {{ soccerPitchReservation.selectedHourStart.minute }} -
              {{ soccerPitchReservation.selectedHourEnd.hour }} :
              {{ soccerPitchReservation.selectedHourEnd.minute }}
            </td>
            <td>
              <a
                title="Editar"
                class="gridItem"
                (click)="openModal(content, soccerPitchReservation)"
                ><i class="nav-icon cui-pencil"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="getReservations()"
    >
    </ngb-pagination>
  </div>
</div>
