<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <h5>Quadra</h5>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <label for="name">Nome</label>
            <div class="input-group">
              <input
                id="name"
                class="form-control"
                placeholder="Nome"
                name="name"
                [(ngModel)]="modalSoccerPitch.name"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="description">Descrição</label>
            <div class="input-group">
              <input
                id="description"
                class="form-control"
                placeholder="Descrição"
                name="description"
                [(ngModel)]="modalSoccerPitch.description"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="sportType">Tipo de Esporte:</label>
              <select
                class="form-control"
                [(ngModel)]="modalSoccerPitch.sportTypeId"
                name="modalSoccerPitch.sportTypeId"
              >
                <option
                  *ngFor="let sportType of sportTypes"
                  value="{{ sportType.id }}"
                  [attr.selected]="
                    modalSoccerPitch &&
                    modalSoccerPitch.sportTypeId &&
                    sportType &&
                    modalSoccerPitch.sportTypeId == sportType.id
                      ? true
                      : null
                  "
                  >{{ sportType.name }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label for="hasRoof">Possui cobertura</label>
            <div class="input-group">
              <input
                id="hasRoof"
                type="checkbox"
                class="form-control"
                name="hasRoof"
                [(ngModel)]="modalSoccerPitch.hasRoof"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <label for="numberOfPlayers">Número de jogadores</label>
            <div class="input-group">
              <input
                id="numberOfPlayers"
                class="form-control"
                placeholder="Número de jogadores"
                name="nOfPlayers"
                [(ngModel)]="modalSoccerPitch.numberOfPlayers"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="sportType">Planos:</label>
              <ng-multiselect-dropdown
                [placeholder]="'Selecione os planos'"
                [data]="soccerPitchsplans"
                [(ngModel)]="modalSoccerPitch.plans"
                [settings]="dropdownSettings"
                name="plans"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
<div class="container">
  <div style="padding:5px;">
    <button
      type="button"
      class="btn btn-primary"
      (click)="openModal(content, null)"
      value="Click Me"
      style="float: right; margin-bottom: 5px;"
    >
      Adicionar nova quadra
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Numero de Jogadores</th>
        <th scope="col">Possui cobertura</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let soccerPitch of soccerPitchs; index as i">
        <td>
          {{ soccerPitch.name }}
        </td>
        <td>{{ soccerPitch.description }}</td>
        <td>{{ soccerPitch.numberOfPlayers }}</td>
        <td>{{ soccerPitch.hasRoof }}</td>
        <td>
          <a title="Editar" (click)="openModal(content, soccerPitch)"
            ><i class="nav-icon cui-pencil"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
