################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EasySoccer.WebApp/.vs/EasySoccer.WebApp/v15/Server/sqlite3
/EasySoccer.WebApp/.vs/EasySoccer.WebApp/v15/.suo
/.vs/EasySoccerWebApp/v15/.suo
/.vs/slnx.sqlite
