<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Novo Responsável</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <h5>Responsável</h5>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="user">Nome(*)</label>
          <div class="input-group">
            <input
              id="user"
              class="form-control"
              placeholder="Nome"
              [(ngModel)]="user.name"
              name="name"
              type="text"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <label for="phone">Telefone(*)</label>
          <div class="input-group">
            <input
              id="phone"
              class="form-control"
              placeholder="Telefone"
              [(ngModel)]="user.phoneNumber"
              name="phone"
              type="text"
              mask="(00) 00000-0000"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <label for="phone">Email</label>
          <div class="input-group">
            <input
              id="email"
              class="form-control"
              placeholder="Email"
              [(ngModel)]="user.email"
              name="email"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">
    Save
  </button>
</div>
