<header class="app-header navbar  navbar-light">
  <!-- Header content here -->
  <button class="navbar-toggler aside-menu-toggler" type="button" data-toggle="aside-menu-show">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
<div class="app-body">
    <!-- Sidebar content here -->
    <div class="app aside-menu-toggler" style="background-color:#e4e5e6">
      <div class="app-body">
        <aside class="aside-menu">
          <h1>11</h1>
        </aside>
      </div>
  </div>
  <main class="main">
    <!-- Main content here -->
  <p>main</p>
  </main>
</div>
<footer class="app-footer">
  footer
</footer>
