<header
  *ngIf="showMenu"
  class="app-header navbar navbar-expand-lg navbar-light bg-light"
>
  <a class="navbar-brand" href="#">
    <img
      class="navbar-brand-full"
      src="../assets/img/vertical@4x.png"
      alt="Easy Soccer Logo"
      width="112"
      height="25"
    />
    <img
      class="navbar-brand-minimized"
      src="../assets/img/logo@4x.png"
      alt="Easy Soccer Logo"
      width="25"
      height="30"
    />
  </a>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown dropleft">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i
          class="nav-icon cui-chat-bubble"
          style="font-size: 20px; text-align: center; vertical-align: middle"
        ></i>
        Ajuda
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a
          class="dropdown-item"
          href="https://api.whatsapp.com/send?phone=5516992707604"
          target="_blank"
        >
          <i
            class="nav-icon cui-chat-bubble"
            style="font-size: 20px; text-align: center; vertical-align: middle"
          ></i>
          Fale conosco!</a
        >
        <a
          class="dropdown-item"
          href="https://www.easysoccer.com.br/documents/ManualEasySoccerv1.0.pdf"
          target="_blank"
        >
          <i
            class="nav-icon cui-paperclip"
            style="font-size: 20px; text-align: center; vertical-align: middle"
          ></i>
          Manual da Plataforma</a
        >
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav" style="margin-left: 0px !important">
    <li class="nav-item dropdown dropleft">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i
          class="nav-icon cui-bell"
          style="font-size: 20px; text-align: center; vertical-align: middle"
        ></i>
        Notificações
      </a>
      <div
        class="dropdown-menu"
        *ngIf="!showNotifications"
        aria-labelledby="navbarDropdown"
      >
        <a class="dropdown-item">
          <p>Nenhuma Notificação para o usuário</p>
        </a>
      </div>
      <div
        class="dropdown-menu"
        *ngIf="showNotifications"
        aria-labelledby="navbarDropdown"
      >
        <div
          *ngFor="let item of notifications"
          class="notific"
          style="width: 450px"
        >
          <a
            class="dropdown-item"
            href="#"
            routerLink="/payment"
            *ngIf="item.notificationType == 1"
          >
            <div>
              <p class="gilroy-bold">
                <b>{{ item.title }}</b>
              </p>
              <span style="white-space: pre-line"
                ><p>{{ item.message }}</p></span
              >
              <div style="height: 20px">
                <span style="float: right"
                  ><p>{{ item.createdDate | date: "dd/MM/yyyy" }}</p></span
                >
              </div>
            </div>
          </a>
          <a
            class="dropdown-item"
            (click)="openScheduleInfo(item)"
            *ngIf="item.notificationType == 3"
          >
            <div>
              <p class="gilroy-bold">
                <b>{{ item.title }}</b>
              </p>
              <span style="white-space: pre-line"
                ><p>{{ item.message }}</p></span
              >
              <div style="height: 20px">
                <span style="float: right"
                  ><p>{{ item.createdDate | date: "dd/MM/yyyy" }}</p></span
                >
              </div>
            </div>
          </a>
          <a
            class="dropdown-item"
            *ngIf="item.notificationType != 3 && item.notificationType != 1"
          >
            <div>
              <p class="gilroy-bold">
                <b>{{ item.title }}</b>
              </p>
              <span style="white-space: pre-line"
                ><p>{{ item.message }}</p></span
              >
              <div style="height: 20px">
                <span style="float: right"
                  ><p>{{ item.createdDate | date: "dd/MM/yyyy" }}</p></span
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" style="margin-left: 0px !important">
    <li class="nav-item dropdown dropleft">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ userName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/changepassword" href="#"
          >Alterar minha senha</a
        >
        <a class="dropdown-item" routerLink="/userinfo" href="#">Meu usuário</a>
        <a class="dropdown-item" routerLink="/companyinfo" href="#"
          >Complexo Esportivo</a
        >
      </div>
    </li>
  </ul>
</header>
<div class="app-body" [ngClass]="{ background: showMenu === false }">
  <div class="sidebar" *ngIf="showMenu">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/dashboard">
            <i class="nav-icon cui-chart"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/companyinfo">
            <i class="nav-icon cui-institution"></i> Complexo Esportivo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/myschedule">
            <i class="nav-icon cui-calendar"></i> Reservas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/persons">
            <i class="nav-icon cui-people"></i> Clientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/soccerpitch">
            <i class="nav-icon cui-soccer"></i> Quadras
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/soccerpitchplan">
            <i class="nav-icon cui-money"></i> Planos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/plangenerationconfig">
            <i class="nav-icon cui-settings"></i> Config. de Planos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout($event)">
            <i class="nav-icon cui-account-logout"></i> Sair
          </a>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
  <main class="main">
    <app-loader></app-loader>
    <router-outlet></router-outlet>
    <app-toastcomponent
      aria-live="polite"
      aria-atomic="true"
    ></app-toastcomponent>
  </main>
</div>

<footer *ngIf="showMenu" class="app-footer">EasySoccer - 2021</footer>
