<div class="container">
  <!-- <div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card">
        <div class="card-header">
          Evolução de agendamentos
          <div class="card-header-actions">
            6 meses
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas
              baseChart
              class="chart"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColours"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Meus Agendamentos
          <div class="card-header-actions"></div>
        </div>
        <div class="card-body" style="padding:0px;">
          <app-user-list></app-user-list>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row card">
    <div style="margin-bottom: 15px; margin-left: 15px; margin-right: 15px">
      <label for="sportType">Quadra:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Todas'"
        [data]="soccerPitchs"
        [settings]="dropdownSettings"
        name="plans"
        [(ngModel)]="soccerPitchsIds"
        (ngModelChange)="getReservationCalendar()"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="col-sm-12">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (click)="checkIfHaveToGet()"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Anterior
            </div>
            <div
              class="btn btn-outline-primary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
              (click)="checkIfHaveToGet()"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Hoje
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (click)="checkIfHaveToGet()"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Próximo
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate: view + "ViewTitle":"pt-PT" }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              (click)="view = CalendarView.Month"
              [ngClass]="{
                'btn-outline-primary': view === CalendarView.Month,
                'btn-primary': view != CalendarView.Month
              }"
            >
              Mensal
            </div>
            <div
              class="btn"
              (click)="view = CalendarView.Week"
              [ngClass]="{
                'btn-outline-primary': view === CalendarView.Week,
                'btn-primary': view != CalendarView.Week
              }"
            >
              Semanal
            </div>
            <div
              class="btn btn-primary"
              (click)="view = CalendarView.Day"
              [ngClass]="{
                'btn-outline-primary': view === CalendarView.Day,
                'btn-primary': view != CalendarView.Day
              }"
            >
              Diário
            </div>
          </div>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          [locale]="locale"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="openModalReservation($event.event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          [locale]="locale"
          [refresh]="refresh"
          (eventClicked)="openModalReservation($event.event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          [locale]="locale"
          [refresh]="refresh"
          (eventClicked)="openModalReservation($event.event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>
