<div class="container">
  <div class="card" style="margin-top: 10px">
    <div class="card-header">
      <h4>Informações do complexo esportivo</h4>
    </div>
    <form validate>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <input
              style="display: none"
              (change)="onFileChanged($event)"
              type="file"
              accept="image/png, image/jpeg"
              #fileInput
            />
            <div class="text-center">
              <img
                class="img-thumbnail img-size"
                [src]="
                  companyImageUrl ||
                  'https://easysoccer.blob.core.windows.net/company/default.png'
                "
                alt="your image"
                (click)="fileInput.click()"
              />
            </div>
          </div>
          <div class="col-sm-12 text-center" style="margin-top: 10px">
            <button class="btn btn-primary" (click)="sendImageBase64()">
              <i class="cui-arrow-thick-from-bottom"></i> Salvar imagem
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Nome</label
              ><input
                class="form-control"
                id="name"
                required
                type="text"
                name="name"
                [(ngModel)]="name"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="description">Descrição</label
              ><input
                class="form-control"
                id="description"
                required
                type="text"
                name="description"
                [(ngModel)]="description"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="cnpj">CNPJ</label
              ><input
                class="form-control"
                id="cnpj"
                required
                type="text"
                name="cnpj"
                [(ngModel)]="cnpj"
                mask="00.000.000/0000-00"
              />
            </div>
          </div>
          <div class="col-sm-3" style="display: flex">
            <div class="row">
              <div class="col-sm-8" style="display: flex; align-items: center">
                <div>
                  <label>
                    Status da Empresa: <br />
                    {{ active ? "Ativo" : "Inativo" }}
                  </label>
                </div>
              </div>
              <div
                class="col-sm-4"
                style="display: flex; align-items: center; padding-top: 20px"
              >
                <div class="form-group">
                  <div class="input-group">
                    <label class="switch">
                      <input
                        id="active"
                        type="checkbox"
                        class="form-control"
                        name="active"
                        [(ngModel)]="active"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="completeAddress">Endereço (Texto a ser Exibido)</label
              ><input
                class="form-control"
                id="completeAddress"
                required
                type="text"
                name="completeAddress"
                [(ngModel)]="completeAddress"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="state">Estado</label
              ><input
                class="form-control"
                id="state"
                required
                type="text"
                name="state"
                [(ngModel)]="selectedState"
                (change)="changeSelectedState()"
                [ngbTypeahead]="searchState"
                [resultFormatter]="formatter"
                [inputFormatter]="formatter"
                placeholder="Pesquisa o estado"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="city">Cidade</label
              ><input
                class="form-control"
                id="city"
                required
                type="text"
                name="city"
                [(ngModel)]="selectedCity"
                [ngbTypeahead]="searchCity"
                [resultFormatter]="formatter"
                [inputFormatter]="formatter"
                placeholder="Pesquisa a cidade"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div></div>
            <div class="form-group">
              <label for="mapsAddress">Endereço (Google Maps)</label>

              <input
                id="mapsAddress"
                class="form-control"
                [options]="options"
                ngx-google-places-autocomplete
                #placesRef="ngx-places"
                (onAddressChange)="handleAddressChange($event)"
                [(ngModel)]="completeAddressMaps"
                name="completeAddressMaps"
                style="margin-bottom: 15px"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="longitude">Longitude</label
              ><input
                class="form-control"
                id="longitude"
                required
                type="text"
                disabled
                name="longitude"
                [(ngModel)]="longitude"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="latitude">Latitude</label
              ><input
                class="form-control"
                id="latitude"
                required
                type="text"
                disabled
                name="latitude"
                [(ngModel)]="latitude"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group border-simple">
              <agm-map
                [latitude]="latitude"
                [zoom]="17"
                [longitude]="longitude"
                [disableDefaultUI]="true"
                [mapDraggable]="false"
                *ngIf="latitude && longitude"
              >
                <agm-marker
                  [latitude]="latitude"
                  [longitude]="longitude"
                ></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Informações Financeiras</h5>
              </div>
              <div class="card-body">
                <div class="col-sm-12">
                  <div [ngSwitch]="financialInfo.financialPlan">
                    <p *ngSwitchCase="'0'">Plano Selecionado : Grátis</p>
                    <p *ngSwitchCase="'1'">Plano Selecionado : Mensal</p>
                    <p *ngSwitchCase="'2'">Plano Selecionado : Semestral</p>
                    <p *ngSwitchCase="'3'">Plano Selecionado : Anual</p>
                    <div *ngSwitchDefault>
                      {{ financialInfo.financialPlan }}
                    </div>
                  </div>
                  <p>
                    Criado em :
                    {{ financialInfo.createdDate | date: "dd/MM/yyyy" }}
                  </p>
                  <p>
                    Válido até :
                    {{ financialInfo.expiresDate | date: "dd/MM/yyyy" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-division">
          <h5>Agenda do complexo esportivo</h5>
        </div>
        <div class="row">
          <div class="col-sm-4" *ngFor="let item of companySchedules">
            <app-company-schedule [item]="item"></app-company-schedule>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group form-actions">
            <button
              class="btn btn-sm btn-primary btn-easy fright"
              type="submit"
              (click)="saveCompany()"
              [ngClass]="{ spinner: loading }"
            >
              Salvar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
