<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pagamentos</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-3" style="margin-bottom: 15px">
      <label for="name">Status</label>
      <select
        class="form-control"
        name="status"
        id="status"
        [(ngModel)]="status"
        (change)="getPayments()"
      >
        <option value="0">Todos</option>
        <option value="1">Confirmados</option>
        <option value="2">Cancelados</option>
      </select>
    </div>
    <div class="col-3">
      <button
        type="button"
        class="btn btn-primary"
        style="float: right; margin-top: 28px; margin-bottom: 10px"
        (click)="openAddPaymentModal()"
      >
        Adicionar pagamentos
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Valor</th>
        <th scope="col">Data do Pagamento</th>
        <th scope="col">Forma de pagamento</th>
        <th scope="col">Cliente</th>
        <th scope="col">Obs.</th>
        <th scope="col">Status</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of payments.data; index as i">
        <td style="vertical-align: middle">
          {{ item.value | currency: "BRL":"symbol":"2.2" }}
        </td>
        <td style="vertical-align: middle">
          {{ item.createdDate | date: "dd/MM/yyyy HH:mm" }}
        </td>
        <td style="vertical-align: middle">
          {{ item.formOfPaymentName }}
        </td>
        <td style="vertical-align: middle">
          {{ item.personCompanyName }}
        </td>
        <td style="vertical-align: middle">
          {{ item.note }}
        </td>
        <td style="vertical-align: middle">
          <span
            [ngClass]="{
              'back-confirmed': item.status == 1,
              'back-canceled': item.status == 2
            }"
            >{{ item.statusDescription }}</span
          >
        </td>
        <td style="vertical-align: middle">
          <a
            title="Editar"
            *ngIf="item.status == 1"
            class="gridItem"
            (click)="cancelPayment(item)"
            ><i class="nav-icon cui-x"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-3">
      <p class="gilroy-bold">Total de pagamento confirmados:</p>
      <p class="gilroy-bold">
        <span class="bg-success p-3 text-white">{{
          payments.total | currency: "BRL":"symbol":"2.2"
        }}</span>
      </p>
    </div>
    <div class="col-3">
      <p class="gilroy-bold">Valor total da reserva:</p>
      <p class="gilroy-bold">
        <span class="bg-primary p-3 text-white">{{
          payments.totalReservation | currency: "BRL":"symbol":"2.2"
        }}</span>
      </p>
    </div>
    <div class="col-6"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close()">
    OK
  </button>
</div>
