<div class="modal-header">
  <h4 class="modal-title" [hidden]="isEditting" id="modal-basic-title">
    Novo Cliente
  </h4>
  <h4 class="modal-title" [hidden]="!isEditting" id="modal-basic-title">
    Editar Cliente
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <h5>Cliente</h5>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="user">Nome(*)</label>
          <div class="input-group">
            <input
              id="user"
              class="form-control"
              placeholder="Nome"
              [(ngModel)]="name"
              name="name"
              type="text"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <label for="phone">Telefone(*)</label>
          <div class="input-group">
            <input
              id="phone"
              class="form-control"
              placeholder="Telefone"
              [(ngModel)]="phone"
              name="phone"
              type="text"
              mask="(00) 00000-0000"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <label for="phone">Email</label>
          <div class="input-group">
            <input
              id="email"
              class="form-control"
              placeholder="Email"
              [(ngModel)]="email"
              name="email"
              type="text"
            />
          </div>
        </div>
        <div class="col-sm-12" *ngIf="reservations && reservations.length > 0">
          <h4
            class="modal-title"
            id="modal-basic-title"
            style="margin-top: 15px"
          >
            Ultimas Reservas
          </h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="backg-gray">Quadra</th>
                <th scope="col" class="backg-gray">Data Selecionada</th>
                <th scope="col" class="backg-gray">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rsv of reservations; index as i">
                <td>
                  {{ rsv.soccerPitchName }}
                </td>
                <td>{{ rsv.selectedDateStart | date: "dd/MM/yyyy" }}</td>
                <td>
                  {{ rsv.selectedDateStart | date: "HH:mm" }} -
                  {{ rsv.selectedDateEnd | date: "HH:mm" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">
    Salvar
  </button>
</div>
