<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div class="col-sm-12">
          <label for="user" >Usuário(*)</label>
          <div class="input-group">
          <input id="user" class="form-control" placeholder="usuário" [(ngModel)]="usuario.name" name="name" type="text">
          </div>
      </div>
      <div class="col-sm-12">
          <label for="user" >Senha(*)</label>
          <div class="input-group">
          <input id="password" class="form-control" placeholder="senha" [(ngModel)]="usuario.password" name="authenticate" type="password">
          </div>
      </div>
      <div class="col-sm-12">
        <div style="padding:5px;">
            <button type="button" class="btn btn-primary" (click)="authenticate();" style="margin-bottom: 5px;"> Login </button>
        </div>
      </div>
  </div>
  <div class="col-sm-4"></div>
</div>
