<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <h5>Plano</h5>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="name">Nome</label>
            <div class="input-group">
              <input
                id="name"
                class="form-control"
                placeholder="Nome"
                name="selectedUsername"
                [(ngModel)]="modalSelectedPlan.name"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <label for="value">Valor</label>
            <div class="input-group">
              <input
                id="value"
                type="number"
                class="form-control"
                placeholder="Valor"
                name="value"
                [(ngModel)]="modalSelectedPlan.value"
              />
            </div>
          </div>
          <div class="col-sm-12">
            <label for="description">Descrição</label>
            <div class="input-group">
              <textarea
                id="description"
                type="text"
                class="form-control"
                placeholder="Insira aqui a descrição"
                name="description"
                [(ngModel)]="modalSelectedPlan.description"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Salvar
    </button>
  </div>
</ng-template>
<div class="container">
  <div class="card" style="margin-top: 10px">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <h4>Planos</h4>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openModal(content, null)"
            value="Click Me"
            style="float: right; margin-bottom: 5px"
          >
            Adicionar novo plano
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let soccerPitchPlan of soccerPitchPlans; index as i">
            <td>
              {{ soccerPitchPlan.name }}
            </td>
            <td>{{ soccerPitchPlan.value | currency: "BRL":true }}</td>
            <td>
              <a
                title="Editar"
                class="gridItem"
                (click)="openModal(content, soccerPitchPlan)"
                ><i class="nav-icon cui-pencil"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [(collectionSize)]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="getPlans()"
    >
    </ngb-pagination>
  </div>
</div>
